/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    user-select: none;
}

header {
    height: 12vh;
}

header img {
    width: 80px;
    aspect-ratio: 1;
}

main {
    background-color: #7fffd4;
    height: 80vh;
    font-size: 1.3rem;
}

footer {
    height: 8vh;
}

button {
    padding: .5rem 1.5rem;
    cursor: pointer;
    background-color: #4d84ff;
    border-radius: 20px;
    border: none;
    color: white;
    transition: all .3s;
}

button:hover {
    background-color: #729fff;
}

div.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.grid-wrapper {
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
    margin: auto;
}

div.grid-cell {
    border: 1px solid black;
    text-align: center;
}

.d-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-border {
    border: 1px solid black;
}

.clicked-cell {
    background-color: #4d84ff;
    color: white;
}

.difficulty-1-cell-width {
    width: calc(100% / 10);
    height: calc(100% / 10);
    line-height: calc(500px / 10);
}

.difficulty-2-cell-width {
    width: calc(100% / 9);
    height: calc(100% / 9);
    line-height: calc(500px / 9);
}

.difficulty-3-cell-width {
    width: calc(100% / 7);
    height: calc(100% / 7);
    line-height: calc(500px / 7);
}